<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.ScenicScoreMapper">
  <resultMap id="BaseResultMap" type="com.trip.vo.ScenicScoreVO">
    <result column="scenic_id" jdbcType="INTEGER" property="scenicId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
     scenic_id, score, comment, user_id, add_time
  </sql>

  <select id="selectScores" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM scenic_score WHERE scenic_id=#{scenicId}
  </select>

  <select id="selectScore"  resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM scenic_score WHERE scenic_id=#{scenicId} AND user_id=#{userId}
  </select>

  <insert id="insertSelective" parameterType="com.trip.vo.ScenicScoreVO">
    insert into scenic_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scenicId != null">
        scenic_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scenicId != null">
        #{scenicId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.trip.vo.ScenicScoreVO">
    update scenic_score
    <set>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where scenic_id= #{scenicId,jdbcType=INTEGER}  and user_id=#{userId}
  </update>

</mapper>