<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.TeamMapper">
    <insert id="insertTeam" parameterType="com.trip.vo.TeamVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into team(name,establish_time,minimum_limit,maximum_limit,start_time,end_time,scenic_id)
        values (#{name},#{establishTime},#{minimumLimit},#{maximumLimit},#{startTime},#{endTime},#{scenicId})
    </insert>

    <select id="selectAllTeams" resultType="com.trip.vo.TeamInfoVO">
        select t.id,t.name,t.establish_time as establishTime,t.minimum_limit as minimumLimit,
       t.maximum_limit as maximumLimit,t.start_time as startTime,t.end_time as endTime,
       t.scenic_id as scenicId,count(*) as memberNum,s.name as scenicName
        from team t,team_member tm,scenic s where t.id = tm.team_id and s.id = t.scenic_id group by t.id
    </select>

</mapper>