<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.TeamMemberMapper">
    <insert id="insertTeamMember" useGeneratedKeys="true" keyProperty="id">
        insert into team_member(team_id, user_id, team_identity)
        values(#{teamId},#{userId},#{teamIdentity})
     </insert>

    <select id="selectMemberByTeamId" resultType="com.trip.vo.TeamMemberVO">
        select u.*,tm.team_identity as teamIdentity
        from user u,team_member tm
        where u.id = tm.user_id and tm.team_id = #{teamId}
    </select>

    <select id="selectMemberNumOfTeam">
        select count(*) from team_member where team_id = #{teamId}
    </select>
</mapper>