<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.trip.vo.UserVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into user(username,name,gender,avatar,pictureUrl,joinDate,state,identity,nickname,phone,address)
        values(#{username},#{name},#{gender},#{avatar},#{pictureUrl},#{joinDate},#{state},#{identity},#{nickname},#{phone},#{address})
     </insert>

    <update id="updateUserById" parameterType="com.trip.vo.UserVO">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pictureUrl != null">
                pictureUrl = #{pictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="identity != null">
                identity = #{identity},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectUserInfoById" resultType="com.trip.vo.UserVO">
        select * from user where id = #{id}
    </select>

    <select id="selectNewUserInfoById" resultType="com.trip.vo.UserInfoVO">
        select distinct u.*,f_follow.followerNum,f_following.followingNum,favorite_scenic.favoriteScenicNum
        from user u,friend f,
            (select count(*) as followerNum from friend where friend_id = #{id}) as f_follow,
            (select count(*) as followingNum from friend where user_id = #{id}) as f_following,
            (select count(*) as favoriteScenicNum from scenic_favorite where user_id = #{id}) as favorite_scenic
        where u.id = #{id};
    </select>

    <select id="selectAllUsers" resultType="com.trip.vo.UserVO">
        select * from user;
    </select>

    <select id="selectUsersByState" resultType="com.trip.vo.UserVO">
        select * from user where state = #{state}
    </select>

    <select id="selectUserByUsername" resultType="com.trip.vo.UserVO">
        select * from user where username = #{username}
    </select>

    <select id="selectUserByAvatar" resultType="com.trip.vo.UserVO">
        select * from user where avatar = #{avatar}
    </select>

    <select id="selectAllUserIds" resultType="Integer">
        select id from user;
    </select>

</mapper>